.cm-header-1, .markdown-preview-section h1 { color: #e53935; }
.cm-header-2, .markdown-preview-section h2 { color: #fb8c00; }
.cm-header-3, .markdown-preview-section h3 { color: #5631b2; }
.cm-header-4, .markdown-preview-section h4 { color: #43a047; }
.cm-header-5, .markdown-preview-section h5 { color: #1e88e5; }
.cm-header-6, .markdown-preview-section h6 { color: #8e24aa; }
.cm-strong, strong { color: #d81b60; }