.cm-header-1{

font-size: 19px;

color: #946a97;

}

.markdown-preview-section h1 {

font-size: 19px;

color: #946a97;

}

.cm-header-2{

font-size: 18px;

color:#bb73a7;

}

.markdown-preview-section h2 {

font-size: 18px;

color:#bb73a7;

}

.cm-header-3{

font-size: 17px;

color: #c675aa;

}

.markdown-preview-section h3 {

font-size: 17px;

color: #c675aa;

}



.cm-header-4

{

font-size: 16px;

color: #dd7eae;

}

.markdown-preview-section h4 {

font-size: 16px;

color: #dd7eae;

}

.cm-header-5

{

font-size: 16px;

color: #dd7eae;

}

.markdown-preview-section h5 {

font-size: 16px;

color: #dd7eae;

}

.cm-header-6

{

font-size: 16px;

color: #dd7eae;

}

.markdown-preview-section h6 {

font-size: 16px;

color: #dd7eae;

}

.cm-strong {

color: #b03e6d;

}

strong {

color: #b03e6d;

}

